html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2d3945;
}

h2, legend {
  color: #2d3945;
}

h1 {
  font-size: 23px;
  color: white;
  padding: 30px;
  text-align: center;
  margin: 0;
}

main {
  padding: 20px 15px 0;
}

.page-des {
  text-align: center;
  font-size: 15px;
  padding-bottom: 25px;
  border-bottom: 5px solid #2d3945;
  margin-bottom: 4px;
}

.sign-up-form {
  padding-top: 25px;
  border-top: 2px solid #2d3945;
}

fieldset {
  border: none;
}

legend {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

label, p {
  font-size: 18px;
  color: #929eaa;
}

.space-above {
  margin: 25px 0 1em;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 23px;
  padding: 0 0 20px;
  border-bottom: 3px solid #2d3945;
}

.contact-info legend {
  margin-bottom: 25px;
}

.newsletter-info legend {
  margin-bottom: 6px;
}

.contact-info input, .contact-info select {
  background-color: #eff0f1;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.contact-info input {
  height: 53px;
}

.contact-info select {
  height: 57px;
}

::placeholder {
  color: #4C4C4C;
  padding-left: 11px;
  padding-right: 10px;
  text-align: right;
  font-style: italic;
}

.contact-input {
  padding: 10px;
}

#zip {
  width: 47vw;
}

.zip-code {
  display: block;
}

.newsletter-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.contact-info input, .contact-info select {
  margin: 5px 0 13px;
}

#comment-area {
  width: 100%;
  height: 90px;
  border: none;
  margin: 0;
  padding: 10px;
  overflow-y: auto;
  resize: none;
  border-radius: 4px;
  background: #eff0f1;
}

#comment-area:focus {
  outline: 0;
  border: 2px solid #162861;
}

#sign-up {
  padding: 15px;
  background-color: #4ebbb5;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  height: 65px;
  border: none;
  border-radius: 4px;
  margin-top: 28px;
  cursor: pointer;
}

#sign-up:focus {
  outline: 0;
  border: 2px solid #162861;
}

.contact-info input:focus, select:focus, textarea:focus {
  outline: 0;
  border: 2px solid #162861;
}

footer {
  text-align: center;
  padding: 16px 15px 150px;
}

@media (min-width:768px) {
  main {
    width: 50%;
    margin: auto;
  }

  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  h1 {
    font-size: 21px;
  }

  .page-des {
    padding-top: 25px;
  }

  .sign-up-form {
    padding-top: 35px;
  }

  #comment-area {
    height: 135px;
  }

  footer {
    padding-bottom: 280px;
  }

  .contact-info input, .contact-info select {
    width: 70%;
    margin: 13px 0;
  }

  .contact-label {
    width: 30%;
    margin: auto 0;
  }

  .zip-code {
    display: flex;
    width: 100%;
  }

  #zip {
    width: 35%;
  }
}
